.vnick {
  width: auto;
  border: 2px solid #dedede;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px
}
.vmail {
  width: 31%;
  //border: 2px solid #dedede;
  margin-left: 34px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px
}
.vlink {
  display none
}

.v[data-class="v"] .vwrap .vheader .vinput{
  width: 46.33% !important;
  border: 1px #bfbfbf solid !important;
  color #80ca8d
}
.v[data-class="v"] .vrow .vcol.vcol-60{
  position: absolute;
  top: 0;
  color: green;
  width 20% !important
}
.v[data-class="v"] .veditor{
  width 98% !important
  margin-top: 10px;
  min-height: 12em !important;
}
.v[data-class="v"] .vinput{
  border: 1px #bfbfbf solid !important;
  max-width 97% !important
}
.v[data-class="v"] .vrow .vcol.vcol-40{
  width 100% !important
}
.v[data-class="v"] .vrow .vcol.vcol-30 {
  width: 0% !important;
}
.v[data-class="v"] .vrow .vcol.vcol-70{
  width 100% !important
}
.valine-wrapper #valine.v .vwrap{
  border: 1px solid #bfbfbf !important;
  opacity: 1;
  text-align center
  background none !important
}
.vcontent{
  color #60ad80 !important
}
  .vcontent p{
    color #60ad80 !important
  }
.v[data-class="v"] .vinput, .v[data-class="v"] .veditor, .v[data-class="v"] p, .v[data-class="v"] pre code, .v[data-class="v"] .status-bar{
  color #60ad80 !important
  font-weight: 700;
}
.item2{
    display: flex !important
    justify-content: center
  }
.v[data-class=v] .vrow .vcol.vcol-60 {
    position: absolute;
    top: 0;
    left: 2%;
    color: green;
    width: 50%!important;
    display: flex;
    justify-content: start;
}
